body {
  background-color: white;
}
/* sign in box taken straight from ctrl inspect outlook log in, doesnt work pls fix */
.inner, .sign-in-box {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 440px;
  width: calc(100%-40px);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
  min-width: 320px;
  min-height: 338px;
  padding: 44px;
  overflow: hidden;
}
/* pls fix!!! */

.topb { /* this specific class will be for top buttons, stuff like "file", "back" and "forward" buttons, etc*/
  background: none;
  border: none;
  transition-duration: 0.4s;
  border-radius: 4px;
  font-size: 16px;
}
.topb:hover {
  background-color: #999999;
  color: white;
}

h1 {
  color: black;
  text-align: left;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
}

p {
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif;
  font-size: 14px;
}
.buttonnext {
  background-color: rgb(0, 103, 184);
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  cursor: pointer;
  border-radius: 0px;
}
.buttonback {
  background-color: rgb(209, 207, 207);
  color: black;
  border: none;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  cursor: pointer;
  border-radius: 0px;
}
/* everything below here work on */
.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-container div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}
 /* help make buttons side by side ^ this doesnt work, keep trying  */
form {
  font-size: 12px;
  display: flex;
 }